@using KutuphaneMvc.Models.Entities
@model List<TBLKATEGORI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}




<table class="table table-hover">
    <tr style="background-color: #212A3E; color: #fff">
        <th>KATEGORİ ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    @foreach (var ktg in Model)
    {
        <tr>
            <td>@ktg.ID</td>
            <td>@ktg.AD</td>
            <td> <a href="/Kategori/KategoriSil/@ktg.ID" class="btn btn-outline-danger btn-lg">Sil</a> </td>
            <td> <a href="/Kategori/KategoriGetir/@ktg.ID" class="btn btn-outline-primary btn-lg">Güncelle</a> </td>
        </tr>

    }

</table>
<a href="/Kategori/KategoriEkle/" class="btn btn-primary btn-lg">Yeni Kategori Ekle</a>
